body {

  cursor:default; 
	background-color: #F5F5F5;
	font-family: book antiqua;
	font-size: 19px;
	
}

#yesOrNoMode {
	display:none;
}

.runOrAttackMode {
	display:block;
}


#drinkButton {
	display: none;
	font-weight: bolder;
	font-size: 24px;
	width: 15px;
	cursor: pointer;
	color: #006400;
}

.counter {
	text-align: right;
}

#luckDecrementMonitor {
	color: red;
	font-size: 14px;
	display: block;
}

#tryAgain {
	display: none;
}


#yourHealthMonitor {
	color: black;
}

table {

font-size: 19px;

}

input {
	font-size: 19px;
	cursor: pointer;
	font-family: book antiqua;
	
	
}

input[disabled] {
	cursor: not-allowed;
	font-family: book antiqua;
}

.toCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}


#storyLine	{
	
	padding: 20px;
	width: 600px;
	height: 35px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 5px;
	box-shadow: 0 8px 6px -6px black;
}

#storyContent {
	vertical-align: middle;



}

#controls {
	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px;
}