body {
	background-color: #F5F5F5;
	font-family: book antiqua;
	font-size: 19px;
	
}


#tryAgain {
	display: none;
}

table {

font-size: 15px;

}

input {
	cursor: pointer;
	font-family: book antiqua;
	
}

input[disabled] {
	cursor: not-allowed;
	font-family: book antiqua;
}

.toCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}


#storyLine	{
	
	
	width: 600px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	padding: 2px;
	margin: 5px;
	box-shadow: 0 8px 6px -6px black;
	
	
}

#controls {
	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px;
}