body {

  cursor:default; 
	background-color: #F5F5F5;
	font-family: book antiqua;
	font-size: 19px;
	
}

#systemMessages {
	align-items: center;
	justify-content: center;
}

/*hr {
	align-self: center;
	width: 273px;
	height: 30px;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}*/



#yesOrNoMode {
	display:none;
}

.runOrAttackMode {
	display:block;
}


#drinkButton {
	
	font-weight: bolder;
	font-size: 24px;
	width: 15px;
	cursor: pointer;
	color: #006400;
}



#luckDecrementMonitor {
	color: #cc0000;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

#tryAgain {
	display: none;
}


#yourHealthMonitor {
	color: black;
}

table {
border-collapse: collapse;
border-spacing: 0;
font-size: 19px;
table-layout: fixed;
}

.table_label {
	width: 119px;
	height: 30px;
}

.extraAffect {
	text-align: center;
	visibility: hidden;
}

td {
	padding: 0;
}

.monitor {
	text-align: right;
	width: 30px;
	height: 30px;

}

input {
	font-size: 19px;
	cursor: pointer;
	font-family: book antiqua;
	
	
}

input[disabled] {
	cursor: not-allowed;
	font-family: book antiqua;
}

.toCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}


#storyLine	{
	
	padding: 20px;
	width: 600px;
	height: 35px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 5px;
	box-shadow: 0 8px 6px -6px black;
}

#storyContent {
	vertical-align: middle;



}

#controls {
	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px;
}